<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading" style="text-align: center;"><strong>取引先稼働状況</strong></div>
  </div>
  <div class="row">
  <form action="">
    <!-- <input type="button" value=""> -->
    <div class="col-sm-12">
      <a routerLink="/business_partner_master" class="btn btn-default">取引先マスタへ戻る</a>
      <br>
    </div>
  </form>
    <br><br>
    <div class="col-sm-4">
      <label for="">取引先コード</label>
      <input type="text" [(ngModel)]="customer_code" class="form-control" size="6;">
    </div>
    <div class="col-sm-4">
    <label for="">取引先名称</label>
    <input type="text" [(ngModel)]="suppliers" class="form-control" size="10;">
  </div>
</div>
  <br>
  <table border="2" class="table table-responsive">
    <tr>
      <th bgcolor="#337ab7" class="text-center"><font color="#fff">選択</font></th>
      <th bgcolor="#337ab7" class="text-center"><font color="#fff">取引先コード</font></th>
      <th bgcolor="#337ab7" class="text-center"><font color="#fff">取引先</font></th>
      <th bgcolor="#337ab7" class="text-center"><font color="#fff">業態</font></th>
      <th bgcolor="#337ab7" class="text-center"><font color="#fff">発注伝送方式</font></th>
      <th bgcolor="#337ab7" class="text-center"><font color="#fff">WEB-EDI設定状況</font></th>
      <th bgcolor="#337ab7" class="text-center"><font color="#fff">タグ種</font></th>
      <th bgcolor="#337ab7" class="text-center"><font color="#fff">伝票</font></th>
      <th bgcolor="#337ab7" class="text-center"><font color="#fff">タグ増加率</font></th>
    </tr>
    <!-- {{statusdata | json}} -->
    <tr *ngFor = "let d of statusdata | statusfilter: {'customer_code': customer_code, 'suppliers': suppliers} | paginate: { itemsPerPage: 2, currentPage: p }">
      <td class="text-center">
        <input type="radio" name="radiogroup" id="">
      </td>
      <td class="text-center">{{ d.customer_code }}</td>
      <td class="text-center">{{ d.suppliers }}</td>
      <td class="text-center">{{ d.business_type }}</td>
      <td class="text-center">{{ d.order_transmission_method }}</td>
      <td class="text-center">{{ d.WEB_EDI_setting_status }}</td>
      <td class="text-center">{{ d.tag_kind }}</td>
      <td class="text-center">{{ d.slip }}</td>
      <td class="text-center">{{ d.tag_growth_rate }}</td>
    </tr>
  </table>
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
  <div class="pull-right">
    <button class="btn btn-default">WEB-EDIテスト/<br>本番切替マスタ</button>
    <button class="btn btn-default">部門別タグ発行<br>設定マスタ</button>
    <button class="btn btn-default">取引先伝送方式<br>設定マスタ</button>
    <button class="btn btn-default">HULFT伝送設定<br>マスタ</button>
    <button class="btn btn-default">タグ・伝票種別<br>切替マスタ</button>
    <button class="btn btn-default">タグ増加率<br>設定マスタ</button>
  </div>
</div>