<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading" style="text-align: center;"><strong>取引先稼働状況</strong></div>
  </div>
  <div class="row">
  <form action="">
    <!-- <input type="button" value=""> -->
    <div class="col-sm-12">
    <a href="" class="btn btn-primary">取引先マスタへ戻る</a>
  </div>
    <br><br>
    <div class="col-sm-4">
      <label for="">取引先コード</label>
      <input type="text" size="6;">
    </div>
    <div class="col-sm-4">
    <label for="">取引先名称</label>
    <input type="text" size="20;">を含む
  </div>
  <div class="col-sm-4">
    <button class="btn btn-primary pull-right">検索</button>
  </div>
  </form>
</div>
  <br>
  <table border="2" class="table table-responsive">
    <tr>
      <th class="text-center">選択</th>
      <th class="text-center">取引先コード</th>
      <th class="text-center">取引先</th>
      <th class="text-center">業態</th>
      <th class="text-center">発注伝送方式</th>
      <th class="text-center">WEB-EDI設定状況</th>
      <th class="text-center">タグ種</th>
      <th class="text-center">伝票</th>
      <th class="text-center">タグ増加率</th>
    </tr>
    <tr>
      <td class="text-center">
        <input type="radio" name="" id="">
      </td>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center"></td>
      <td class="text-center"></td>
    </tr>
  </table>
  <div class="pull-right">
    <button class="btn btn-default">WEB-EDIテスト/<br>本番切替マスタ</button>
    <button class="btn btn-default">部門別タグ発行<br>設定マスタ</button>
    <button class="btn btn-default">取引先伝送方式<br>設定マスタ</button>
    <button class="btn btn-default">HULFT伝送設定<br>マスタ</button>
    <button class="btn btn-default">タグ・伝票種別<br>切替マスタ</button>
    <button class="btn btn-default">タグ増加率<br>設定マスタ</button>
  </div>
</div>