<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading" style="text-align: center;"><strong>取引先稼働状況</strong></div>
  </div>
  <div class="row">
  <form action="">
    <!-- <input type="button" value=""> -->
    <div class="col-sm-12">
      <a routerLink="/business_partner_master" class="btn btn-default">取引先マスタへ戻る</a>
      <br>
    </div>
  </form>
    <br><br>
    <div class="col-sm-4">
      <label for="">取引先コード</label>
      <input type="text" [(ngModel)]="customer_code" class="form-control" size="6;">
    </div>
    <div class="col-sm-4">
    <label for="">取引先名称</label>
    <input type="text" [(ngModel)]="suppliers" class="form-control" size="10;">
  </div>
</div>
  <br>
  <table border="2" class="table table-responsive">
    <tr>
      <th class="text-center">Select</th>
      <th class="text-center">選択</th>
      <th class="text-center">取引先コード</th>
      <th class="text-center">取引先</th>
      <th class="text-center">業態</th>
      <th class="text-center">発注伝送方式</th>
      <th class="text-center">WEB-EDI設定状況</th>
      <th class="text-center">タグ種</th>
      <th class="text-center">伝票</th>
      <th class="text-center">タグ増加率</th>
    </tr>
    <!-- {{statusdata | json}} -->
    <tr *ngFor = "let d of statusdata | statusfilter: {'customer_code': customer_code, 'suppliers': suppliers}">
      <td class="text-center">
        <input type="radio" name="" id="">
      </td>
      <td class="text-center">{{ d.id }}</td>
      <td class="text-center">{{ d.customer_code }}</td>
      <td class="text-center">{{ d.suppliers }}</td>
      <td class="text-center">{{ d.business_type }}</td>
      <td class="text-center">{{ d.order_transmission_method }}</td>
      <td class="text-center">{{ d.WEB_EDI_setting_status }}</td>
      <td class="text-center">{{ d.tag_kind }}</td>
      <td class="text-center">{{ d.slip }}</td>
      <td class="text-center">{{ d.tag_growth_rate }}</td>
    </tr>
  </table>
  <div class="pull-right">
    <button class="btn btn-default">WEB-EDIテスト/<br>本番切替マスタ</button>
    <button class="btn btn-default">部門別タグ発行<br>設定マスタ</button>
    <button class="btn btn-default">取引先伝送方式<br>設定マスタ</button>
    <button class="btn btn-default">HULFT伝送設定<br>マスタ</button>
    <button class="btn btn-default">タグ・伝票種別<br>切替マスタ</button>
    <button class="btn btn-default">タグ増加率<br>設定マスタ</button>
  </div>
</div>